html,
body,
#___gatsby,
canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: black;
}

h1 {
  font-family: helvetica;
  font-weight: 800;
  font-size: 10em;
  text-align: center;
  color: hotpink;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
